<!DOCTYPE html>
<html>
  <head>
    <title>EUROPA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Europa</h1>
    <h2>Hecho por:Rose E. Arroyo</h2>
    <h3> Vamos a comenzar con una lista de algunos países</h3>
<ul>

      <li>Alemania</li>
      <li>Hungría,</li>
      <li>Austria	</li>
      <li>Irlanda,</li>
      <li>Bélgica</li>
      <li>	Italia</li>
      <li>Bulgaria</li>
      <li>	Letonia</li>
      <li>	Lituania</li>
      <li>Croacia</li>
      <li>	Luxemburgo</li>
      <li>Dinamarca</li>
      <li>	Malta,</li>
      <li>Eslovaquia</li>
      <li>	Países Bajos</li>
      <li>Eslovenia</li>
      <li>	Polonia</li>
      <li>España</li>
      <li>	Portugal</li>
      <li>Estonia</li>
      <li>	Reino Unido</li>
      <li>Finlandia</li>
      <li>	República Checa</li>
      <li>Francia</li>
      <li>	Rumanía</li>
    <li>  Grecia</li>
      <li>	Suecia</li>
    
</ul>
  </body>
</html>
